{{ template "base" . }}
{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>about page yo</h1>
        <p>more paragraph text, yo</p>
      </div>
    </div>
  </div>
{{ end }}