{{ template "base" . }}
{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>home page yo</h1>
        <p>this is some paragraph text, yo</p>
      </div>
    </div>
  </div>
{{ end }}